@model X.PagedList.StaticPagedList<MonoTestApp.Project.Service.Models.ViewModels.VehicleModelView>
@{
    ViewData["Title"] = "GetVehicleMakes";
}

<h1>GetVehicleMakes</h1>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Abbr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].MakerName)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abbr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MakerName)
            </td>
        </tr>
    }
</table>